*.dmb
*.rsc
*.int
*.lk
*.zip
*.project
*.DS_Store
*.idea/

tamplates/item/.DS_Store

.DS_Store

*.xml

static/.DS_Store

static/images/.DS_Store

tamplates/.DS_Store

tamplates/item/.DS_Store

tamplates/.DS_Store

tamplates/user/.DS_Store

*.xml
