.erp-container{
    width: 1200px;
    margin: 0 auto;
}
.container{
    width: 1000px;
    float: right;
}
.category-search {
    background: #f5f5f5;
    height: 24px;
    padding: 25px 0; }

.category-search-title, .category-search-input, .category-search-submit {
    float: left;
    line-height: 24px; }

.category-search-title {
    padding: 0 10px 0 81px; }

.category-search-input {
    padding: 0 6px;
    width: 414px;
    border: 1px solid #333;
    color: #333;
    line-height: 22px;
    height: 22px; }

.category-search-submit {
    width: 100px;
    background: #fd9500;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    margin-left: 6px;
    cursor: pointer; }
.category-search-submit:hover {
    background: #fd8300; }

.category-content {
    border: 1px solid #c9c9c9;
    margin-top: 18px;
    padding: 12px 0 0 0;
    background: #f5f5f5; }

.category-step, .category-eg, .category-step-search-input, .category-search-icon {
    float: left; }

.category-step {
    overflow: auto;
    height: 290px;
    width: 220px;
    margin-left: 10px;
    border: 1px solid #c9c9c9;
    background: #fff; }

.category-step-one {
    margin-left: 25px; }

.category-searchCon {
    border: 1px solid #C9C9C9;
    border-left: none;
    line-height: 20px;
    height: 20px; }

.category-search-icon {
    width: 14px;
    height: 14px;
    background: url(../images/icon_3.png) 0 -26px no-repeat;
    margin: 3px 8px 0 6px; }

.category-step-search-input {
    width: 173px;
    height: 20px;
    line-height: 20px;
    *height: 16px;
    *width: 170px;
    *line-height: 16px; }

.category-type {
    border-bottom: 1px dotted #c9c9c9; }

.category-type {
    padding: 4px 0px; }

.category-type-title {
    color: #fd9500;
    background: url(../images/arrow_1.png) 184px center no-repeat; }

.category-type-title, .category-type-item {
    padding-left: 14px;
    line-height: 1.6;
    cursor: pointer; }

.category-type-item {
    background: url(../images/arrow_3.png) 184px center no-repeat; }
.category-type-item:hover {
    color: #fd9500; }

.category-type-activeitem {
    background: #c9c9c9; }

.category-curStatus {
    border: 1px solid #fd9500;
    margin-top: 10px;
    background: #fffaf2;
    line-height: 50px;
    padding-left: 30px; }

.category-submit {
    background: #fd9500;
    width: 272px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top: 4px;
    cursor: pointer; }
.category-submit:hover {
    background: #fd8300; }