/*公用头部*/
.head{
	width: 100%;
	margin: 0 auto;
	height: 80px;
	background-color: #2e2e2e;
}
.head .head-con{
	width: 1200px;
	margin: 0 auto;
}
.head .head-con-logo{
	width: 200px;
	height: 80px;
}
.head .head-con-user{
	height: 80px;
	color: #fff;
	font-size: 14px;
}
.head .head-con-user div{
	height: 40px;
	padding: 0 10px;
	margin: 20px 0;
	line-height: 40px;
	border-right: 1px solid #000;
}
.head .head-con-user a{
	color: #fff;
}
.head .head-user-userCenter-icon{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	margin-right: 10px;
}
.head .head-user-quit-icon{
	display: inline-block;
	width: 8px;
	height: 10px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -26px 0;
	margin-right: 10px;
}

/*共用侧导航*/
.left{
	float: left;
	width: 200px;
	text-align: left;
	color: #fff;
	background-color: #333;
}
.left .left-con h3{
	margin-left: 15px;
	height: 45px;
	line-height: 45px;
	background: url(../images/icon_1.png) no-repeat;
	background-position: 160px -22px;
	cursor: pointer;
}
.left .left-con h3.left-item-active{
	background-position: 160px 22px;
}
.left .left-con a{
	color: #fff;
}
.left .left-item-content .left-item-content-text{
	height: 40px;
	line-height: 40px;
	padding-left: 32px;
	cursor: pointer;
}
.left .left-item-content .left-item-content-text.left-text-active{
	background-color: #000;
}
.left .left-item-content .left-text-active a{
	color: #fd9500;
}
.left .left-con-item i{
	display: inline-block;
}
.left .left-item-icon-index{
	width: 9px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -42px 0;
}
.left .left-item-icon-company{
	width: 13px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -51px 0;
}
.left .left-item-icon-brand{
	width: 10px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -64px 0;
}
.left .left-item-icon-goods{
	width: 10px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -74px 0;
}
.left .left-item-icon-marketing{
	width: 10px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -84px 0;
}
.left .left-item-icon-sell{
	width: 13px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: 0px -13px;
}
.left .left-item-icon-cal{
	width: 12px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -13px -13px;
}
.left .left-item-icon-data{
	width: 13px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -25px -13px;
}
.left .left-item-icon-activity{
	width: 13px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -38px -13px;
}
.left .left-item-icon-tools{
	width: 12px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -14px -26px;
}
.left .left-item-icon-erp{
	width: 13px;
	height: 10px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -51px -13px;
}
.left .left-item-icon-user{
	width: 13px;
	height: 13px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -64px -13px;
}
.left .left-item-icon-system{
	width: 13px;
	height: 10px;
	background: url(../images/icon_3.png) no-repeat;
	background-position: -77px -13px;
}
.yz-main{
	margin: 0 auto;
	width: 1200px;
}