.manage-main{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.manage-right{
    padding-left: 26px;
    width: 974px;
    height: auto;
    overflow: hidden;
    float: right;
}
.key-search{
    width: 890px;
    background: #f5f5f5;
    height: 54px;
    margin-top: 24px;
    padding-left: 60px;
    padding-top: 22px;
    overflow: hidden;
}
.key-search-word{
    height: 24px;
    width: 80px;
    text-align: left;
    line-height: 24px;
    color: #333;
    font-size: 12px;
    float: left;
}
.key-search-input{
    float: left;
    padding-left: 10px;
    width: 416px;
    height: 22px;
    border: 1px solid #333;
    line-height: 22px;
    color: #999;
}
.key-search-go{
    display: block;
    width: 100px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #fd9500;
    font-size: 12px;
    float: left;
    margin-left: 6px;
    cursor: pointer;
}
.item-manage-title{
    margin-top: 18px;
    height: 35px;
    width: 100px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    background: url("../../static/images/yz.png") no-repeat 0 0;
}
.item-manage-line{
    width: 950px;
    height: 1px;
    background: #fd9500;
    margin-bottom: 12px;
}
.item-manage-wrap{
    width: 948px;
    height: auto;
    overflow: hidden;
    border: 1px solid #c9c9c9;
    background: #f5f5f5;
    padding-top: 40px;
    position: relative;
}
.item-manage-search{
    width: 100%;
    margin-left: 20px;
    height: auto;
    overflow: hidden;
}
.item-search-li{
    width: 100%;
    height: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}
.item-search-name{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-size: 12px;
    float: left;
    margin-right: 10px;
    float: left;
}
.item-select{
    margin-right: 10px;
    border: 1px solid #c9caca;
    height: 20px;
    float: left;
    background: #fff;
}
.category-select{
    width: 130px;
}
.sellerId-select{
    width: 200px;
    margin-right: 60px;
}
.sort-select{
    width: 200px;
}
.item-input{
    margin-right: 10px;
    border: 1px solid #c9caca;
    height: 18px;
    float: left;
}
.sellerSN-input{
    width: 200px;
}
.itemName-input{
    width: 200px;
    margin-right: 50px;
}
.itemNO-input{
    width: 200px;
}
.item-search-confirm{
    float: left;
    display: block;
    height: 18px;
    width: 40px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #fd9500;
    background: #fff;
}
.add-newItem{
    position: absolute;
    right: 50px;
    top: 40px;
    width: 130px;
    height: 35px;
    background: url("../../static/images/yz.png") no-repeat 0 -35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.item-search-num{
    position: absolute;
    display: block;
    right: 50px;
    top: 75px;
    width: 130px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fd9500;
    font-size: 14px;
    overflow: hidden;
}
.item-result-table{
    padding-bottom: 100px;
    height: 130px;
    overflow: hidden;
}
.manage-result-title{
    background: #000;
    height: 35px;
    width: 948px;
    color: #fff;
    font-size: 12px;
}
.result-sellerId{
    width: 76px;
}
.result-sellerName{
    width: 84px;
}
.result-itemPic{
    width: 80px;
}
.result-itemId{
    width: 96px;
}
.result-itemName{
    width: 136px;
}
.result-itemPrice{
    width: 118px;
}
.result-itemLeft{
    width: 76px;
}
.result-saleNum{
    width: 78px;
}
.result-time{
    width: 100px;
}
.result-operate{
    width: 104px;
}
.manage-result-detail{
    height: 130px;
    overflow: hidden;
}
.manage-result-detail:hover{
    background: #ffdea5;
}
.select-operate{
    border: 1px solid #c9caca;
    width: 70px;
    height: 18px;
}