
.act-wrap{
    width: 950px;
    padding: 25px;

}
.act-head{
    margin-bottom: 20px;
}
.act-title{
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #fd9500;
    color: #fff;
    font-size: 14px;
}
.act-hr{
    width: 950px;
    height: 1px;
    background: #fd9500;
}
.act-search{
    width: 948px;
    height: 58px;
    border: 1px solid #c9c9c9;
    background: #f5f5f5;
    margin-bottom: 20px;
}
.act-search-ul{
    overflow: hidden;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-top: 19px;
}
.act-search-li{
    float: left;
    margin: 0 20px;
    width: 190px;
}
.act-search-li select{
    width: 130px;
    height: 20px;

}
.act-search-span{
    display: block;
    cursor: pointer;
    width: 60px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #a0a0a0;
    color: #a0a0a0;
    font-size: 14px;
}
.act-detail table{
    border-collapse:collapse;
    border: 1px solid #dfdfdf;
    color: #333;
    font-size: 14px;
    width: 950px;
    text-align: center;
}
.act-detail th{
    background: #eee;
    height: 50px;
    width: 100px;
}
.act-detail td{
    height: 70px;
    width: 100px;
    border-bottom: 1px solid #dfdfdf;
}
.act-detail .act-th-time{
    width: 248px;
}
.act-detail .act-register{
    margin-left: 20px;
    display: block;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: #fd9500;
    color: #fff;
    cursor: pointer;
}
.act-detail .act-look{
    margin-left: 20px;
    display: block;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fd9500;
    cursor: pointer;
}
.act-detail-main{
    width: 924px;
    height: auto;
    padding-left: 24px;
    border: 1px solid #c9c9c9;
}
.act-detail-top{
    font-size: 14px;
    width: 900px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    border-bottom: 1px solid #c9c9c9;
}
.act-detail-bot{
    width: 924px;
    height: auto;
    overflow: hidden;
    margin: 10px 0;
}
.act-detail-left{
    float: left;
    width: 170px;
    text-align: right;
}
.act-detail-right{
    float: left;
    width: 600px;
    margin-left: 20px;
    text-align: left;
}
.actDetail-left-li{
    width: 170px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.actDetail-right-li{
    width: 600px;
    line-height: 30px;
    font-size: 14px;
}
.act-register-submit{
    cursor: pointer;
    width: 80px;
    height: 25px;
    border-radius: 3px;
    background: #fd9500;
    line-height: 25px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin: 30px auto;
}
.act-register-main{
    padding-left: 20px;
    width: 910px;
}
.act-side-title{
    margin-top: 20px;
    display: block;
    height: 30px;
    width: 100px;
    text-align: left;
    font-size: 14px;
    color: #fd9500;
}
.act-side-hr{
    width: 910px;
    height: 1px;
    border-bottom: 1px solid #c9c9c9;
}
.act-register-schedule{
    position: relative;
    margin: 20px auto 80px;
    width: 608px;
    height: 34px;
    background: url("../../static/images/marketing.png") 0 0 no-repeat;
}
.act-register-success,.act-register-failure{
    position: absolute;
    overflow: hidden;
    width: 120px;
    height: 80px;
}
.register-success-a{
    top: 4px;
    left: -2px;
}
.register-failure-a{
    top: 4px;
    left: -2px;
}
.register-success-b{
    top: 4px;
    left: 240px;
}
.register-failure-b{
    top: 4px;
    left: 240px;
}
.register-success-c{
    top: 4px;
    left: 489px;
}
.register-failure-c{
    top: 4px;
    left: 489px;
}
.act-register-success span{
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 28px;
    background: url("../../static/images/marketing.png") 0 -34px no-repeat;
}

.act-register-failure span{
    display: block;
    margin: 0 auto;
    width: 28px;
    height: 28px;
    background: url("../../static/images/marketing.png") -28px -34px no-repeat;
}
.act-register-success p{
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #333333;
}
.act-register-failure p{
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #999;
}
.register-failure-a,.register-success-b,.register-success-c{
    display: none;
}
.act-detail-wrap,.act-select-wrap{
    position: relative;
    border: 1px solid #c9c9c9;
    width: 850px;
    padding: 15px 0 45px;
    margin:  20px auto;
    height: 200px;
    overflow: hidden;
}
.act-select-wrap{
    height: auto;
}
.act-detail-wrap .act-detail-left,.act-select-wrap .act-detail-left{
    margin-left: 40px;
}
.register-second-bot{
    position: absolute;
    width: 100%;
    height: 30px;
    background: #c9c9c9;
    left: 0px;
    bottom: 0px;
    cursor: pointer;
}
.click-show-span,.click-hide-span{
    display: block;
    margin: 6px auto 0;
    width: 20px;
    height: 17px;
    background: url("../../static/images/marketing.png") no-repeat 0 -63px;
}
.click-hide-span{
    display: none;
}
.click-hide-span{
    background: url("../../static/images/marketing.png") no-repeat 0 -82px;

}
.act-select-good{
    margin-left: 28px;
    margin-top: 20px;
    display: block;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background: #fd9500;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}
.select-main-show{
    display: block;
    width: 180px;
    height: 70px;
    border: 1px solid #c9c9c9;
    margin-top: 10px;
    margin-bottom: 20px;
}
.select-good-advise{
    display: block;
    width: 340px;
    height: 78px;
    border: 1px solid #c9c9c9;
    line-height: 26px;
    font-size: 14px;
    padding: 4px;
}
.actSelect-input-a{
    width: 130px;
    margin-right: 5px;
}
.actSelect-main-title ,.actSelect-side-title{
    margin-right: 5px;
    width: 190px;
}
.ml-10{
    margin-left: 10px;
}
.fc-red{
    color: #ff0000;
}
.pub-content{
    width: 1200px;
    margin: 0 auto;
    text-align: left;
    color: #333;
    font-size: 12px;
    line-height: 1.5;
}
.pub-right{
    width: 950px;
    padding: 30px 25px 70px;
    float: right;
}
.pub-title-box{
    border-bottom: solid 1px #fd9500;
    line-height: 0;
    text-align: left;
}
.pub-title{
    font-size: 14px;
    color: #fff;
    line-height: 34px;
    padding: 0 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    background-color: #fd9500;
    display: inline-block;
    *display: inline;
    *zoom:1;
}
.pub-box{
    border: solid 1px #c9c9c9;
    padding: 20px 25px 40px;
    background-color: #f5f5f5;
    margin-top: 15px;
    position: relative;
}
.act-top{
    position: relative;
}
.act-tab-nav{
    border-bottom: solid 2px #e5e5e5;
    height: 36px;
}
.act-tab-nav a{
    float: left;
    display: inline;
    padding: 0 20px;
    line-height: 36px;
    height: 36px;
    color: #333;
    font-size: 14px;
}

.act-tab-nav a.active{
    border-bottom: solid 2px #fd9500;
}
.act-select{
    position: absolute;
    top: 7px;
    left: 300px;
}
.act-select span{
    line-height: 22px;
}
.act-select select{
    width: 140px;
}
.act-select-btn{
    line-height: 20px;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom:1;
    padding: 0 6px;
    border:solid 1px #cdcdcd;
}
.act-newact-btn{
    padding: 0 16px;
    background-color: #333333;
    color: #fff;
    line-height: 24px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    right:24px;
    top: 5px;
}
.act-table{
    margin-top: 10px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
}
.act-table table,
.additem-table table{
    width: 100%;
    border-collapse: collapse;
}
.act-table tr:hover,
.additem-table tr:hover{
    /*background-color: #ffdea5;*/
}
.act-table td{
    border-bottom: solid 1px #e5e5e5;
    padding: 20px 0;
}
.act-table-checkbox{
    text-align: center;
}
.act-table-name{
    text-align: center;
    line-height: 22px;
}
.act-table-name-tip{
    background-color: #333;
    color: #fff;
    padding: 0 5px;
    display: inline-block;
    *display: inline;
    *zoom:1;
    margin-left: 5px;
}
.act-table-function a{
    display: inline;
    color: #333;
}
.act-batch-btn1{
    display: inline-block;
    color: #333;
    border-radius: 5px;
    border: solid 1px #333;
    overflow: hidden;
    padding: 0 16px;
    line-height: 22px;
    margin-right: 10px;
    vertical-align: middle;
}
.act-batch-btn2{
    display: inline-block;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 0 16px;
    overflow: hidden;
    line-height: 24px;
    vertical-align: middle;
}
.act-table-batch{
    padding: 20px 20px 20px 0;
    text-align: right;
    line-height: 22px;
}
.act-page{
    text-align: center;
    color: #d9d9d9;
    margin-top: 20px;
}
.act-page-num{
    display: inline-block;
    *display: inline;
    *zoom:1;
    width: 18px;
    height: 18px;
    text-align: center;
    color: #d9d9d9;
    border: solid 1px #d9d9d9;
    line-height: 20px;
}
.act-box{
    margin-top: 10px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
    padding: 20px;
}
.act-info{
    margin-bottom: 20px;
}
.act-info-tit{
    float: left;
    width: 115px;
    margin-right: 5px;
    text-align: right;
    line-height: 22px;
}
.act-info-tit span{
    color: #ff0000;
    margin-right: 3px;
}
.act-info-con{
    float: left;
    display: inline;
    line-height: 22px;
}
.act-info-input{
    width: 190px;
    border: solid 1px #cfd0cf;
    background-color: #f8faf9;
    color: #333;
    height: 20px;
    padding: 0 5px;
}
.act-info-input2{
    width: 90px;
    border: solid 1px #cfd0cf;
    background-color: #f8faf9;
    color: #333;
    height: 20px;
    padding: 0 5px;
}
.act-info-textarea{
    width: 190px;
    padding: 0 5px;
    border: solid 1px #cfd0cf;
    background-color: #f8faf9;
    color: #333;
    height: 90px;
    resize:none;
    float: left;
}
.act-info-select{
    width: 140px;
}
.act-info-checkbox{
    margin-right: 5px;
}
.act-set{
    padding-left: 120px;
    line-height: 30px;
    display: none;
}
.act-set.active{
    display: block;
}
.act-set-btn{
    display: inline-block;
    *display: inline;
    *zoom:1;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    line-height: 20px;
    vertical-align: middle;
}
.act-submit-box{
    margin-top: 20px;
    text-align: center;
}
.act-submit-btn{
    display: inline-block;
    *display: inline;
    *zoom:1;
    padding: 0 30px;
    margin: 0 40px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    line-height: 26px;
}
.additem-select{
    width: 100px;
    margin-right: 5px;
}
.additem-search-type{
    margin-top: 20px;
}
.additem-search-type label{
    margin: 0 10px 0 2px;
}

.additem-search{
    margin-top: 15px;
}
.additem-search input{
    width: 200px;
    border: solid 1px #cfd0cf;
    background-color: #f8faf9;
    color: #333;
    height: 20px;
    padding: 0 5px;
}
.additem-table{
    width: 948px;
    margin-left: -25px;
    margin-top: 35px;
    text-align: center;
}

.additem-table th,
.act-table th{
    background-color: #000;
    color: #fff;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
}
.additem-table-name{
    width: 60%;
    text-align: left;
    margin: 0 auto;
}
.additem-table-operation{
    display: inline;
}
.act-btn-additemback{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    text-align: center;
    color: #333;
    border-radius: 5px;
    border: solid 1px #333;
    overflow: hidden;
    line-height: 22px;
}
.act-btn-edit{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #333;
    border-radius: 5px;
    border: solid 1px #333;
    overflow: hidden;
    padding: 0 16px;
    line-height: 22px;
}
.J_info_view{
    display: inline;
}
.J_info_edit{
    display: none;
}
.editing .J_info_view{
    display: none;
}
.editing .J_info_edit{
    display: inline-block;
}
.act-set-rebate{
    width: 70px;
    margin: 0 10px;
}
