
/*userAddress.html by hangwei*/
.yz-main input,.yz-main select{
    float: left;
    width: 128px;
    height: 26px;
    border: 1px solid #dfdfdf;
    line-height: 26px;
    font-size: 12px;
    padding: 0 5px;
}
.yz-main select{
    color: #333;
}
.yz-main input{
    color: #999;
}
.yz-main .user-main{
    float: left;
    padding: 25px;
    width: 950px;
    height: auto;
    overflow: hidden;
}
.yz-main .addressInfo{
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #fd9500;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.yz-main .hr-line{
    width: 100%;
    height: 1px;
    background: #fd9500;
}
.yz-main .detail-wrap{
    margin-left: 10px;
}
.yz-main .address-send,.address-left{
    width: 70px;
    float: left;
    margin-right: 5px;
    height: 50px;
    font-weight: bold;
    color: #333;
    line-height: 60px;
    font-size: 14px;
    text-align: right;
}
.yz-main .address-star{
    float: left;
    height: 50px;
    width: 10px;
    line-height: 56px;
    font-size: 12px;
    color: #fd9500;
    margin-left: 5px;
    text-align: right;
}
.yz-main .address-send-mark{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 60px;
    font-size: 12px;
    color: #333;
}
.yz-main .address-province,.yz-main .address-email,.yz-main .address-name,.yz-main .address-phone{
    overflow: hidden;
    margin-bottom: 12px;
    height: 28px;
    width: 100%;
}
.yz-main .address-left{
    color: #333;
    line-height: 28px;
    font-size: 12px;
    font-weight: normal;
    text-align: right;
}
.yz-main .address-star-two{
    margin-right: 10px;
    line-height: 20px;
}

.yz-main .address-left-two{
    width: 40px;
    text-align: center;
}
.yz-main .email-input{
    margin-left: 25px;
    width: 180px;
}
.yz-main .address-textarea{
    float: left;
    padding: 0 10px;
    width: 700px;
    height: 80px;
    font-size: 12px;
    line-height: 20px;
    color: #333;
}
.yz-main .address-detail{
    position: relative;
    height: 80px;
    margin-bottom: 32px;
}
.yz-main .address-detail-mark{
    font-size: 12px;
    line-height: 20px;
    color: #333;
    position: absolute;
    bottom: -25px;
    left: 100px;
}
.yz-main .address-hr{
    width: 900px;
    height: 1px;
    margin-left: 15px;
    background: #dfdfdf;
}
.yz-main .select-radio{
    margin-top: 23px;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    cursor: pointer;
}
.yz-main .same-address{
    margin-left: 20px;
    float: left;
    width: 200px;
    line-height: 60px;
}
.yz-main .address-save{
    cursor: pointer;
    width: 66px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    float: left;
    color: #fff;
    background: #fd9500;
    border-radius: 5px;
    margin-left: 110px;
    margin-right: 10px;
    border: none;
}
.yz-main .false-show{
    color: #ff0000;
    line-height: 28px;
    display: none;
}
/*index.html by hangwei*/
.yz-main .user-main{
    float: left;
    padding: 25px;
    width: 950px;
    height: auto;
    overflow: hidden;
}
.yz-main .detail-title{
    display: block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #fd9500;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.yz-main .detail-address {
    margin-top: 35px;
    overflow: hidden;
}
.yz-main .detail-address .detail-title{
    margin-right: 10px;
    font-weight: bold;
    float: left;
}
.yz-main .cur-address{
    height: 34px;
    border: 1px solid #fd9500;
    color: #fd9500;
    background: #fff0db;
    font-size: 14px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0 none;
}
.yz-main .detail-line{
    width: 100%;
    height: 1px;
    background: #fd9500;
}
.yz-main .detail-form{
    margin-top: 12px;
    margin-bottom: 26px;
    width: 948px;
    border: 1px solid #c9c9c9;
    height: auto;
    overflow: hidden;
}
.yz-main .date-up-time{
    margin-left: 30px;
    width: 50%;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    color: #333;
}
.yz-main .date-up-time i{
    color: #fd9500;
}
.yz-main .shop-detail-ul{
    margin-top: 5px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.yz-main .shop-detail-li{
    float: left;
    width: 88px;
    height: 170px;
    margin: 0 50px;
    text-align: center;
}
.yz-main .shop-detail-li .one{
    display: block;
    width: 88px;
    height: 88px;
    background: url("../../static/images/yzUser.png") no-repeat 0 0;
}
.yz-main .shop-detail-li .two{
    display: block;
    width: 88px;
    height: 88px;
    background: url("../../static/images/yzUser.png") no-repeat 0 -88px;
}
.yz-main .shop-detail-li .three{
    display: block;
    width: 88px;
    height: 88px;
    background: url("../../static/images/yzUser.png") no-repeat 0 -176px;
}
.yz-main .shop-detail-li .four{
    display: block;
    width: 88px;
    height: 88px;
    background: url("../../static/images/yzUser.png") no-repeat -88px 0;
}
.yz-main .shop-detail-li .five{
    display: block;
    width: 88px;
    height: 88px;
    background: url("../../static/images/yzUser.png") no-repeat -88px -88px;
}
.yz-main .shop-detail-name{
    height: 44px;
    width: 88px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.yz-main .shop-detail-num{
    height: 20px;
    width: 88px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.yz-main .shop-detail-wrap{
    position: relative;
    margin-left: 20px;
    width: 930px;
}

.yz-main .default-address{
    width: 110px;
    color: #fd9500;
    text-align: center;
}
.yz-main .shop-detail-title{
    display: block;
    height: 50px;
    line-height: 60px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}
.yz-main .shop-detail-one{
    overflow: hidden;
}
.yz-main .shop-detail-one .left{
    padding: 5px 0;
    float: left;
    background: #fd9500;
    width: 117px;
}
.yz-main .shop-left-li{
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
}
.yz-main .shop-detail-one .right{
    float: left;
    margin-left: 13px;
    padding: 4px 0;
    border: 1px solid #dfdfdf;
    width: 798px;
}
.yz-main .shop-right-li{
    text-align: left;
    height: 30px;
    line-height: 30px;
    color: #333333;
    margin-left: 10px;
    font-size: 12px;
}
.yz-main .seller-address-info{
    border: 1px solid #dfdfdf;
    border-collapse:collapse;
}
.yz-main .seller-address-info td{
    border-bottom: 1px solid #dfdfdf;
}
.yz-main .seller-address-send,.seller-address-get{
    height: 50px;
    width: 930px;
}
.yz-main .seller-address-title{
    width: 110px;
}
.yz-main .seller-address-title span{
    display: block;
    width: 65px;
    height: 20px;
    border: 1px solid #fd9500;
    color: #fd9500;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
}
.yz-main .seller-address-name{
    width: 80px;
    text-align: left;
}
.yz-main .seller-address-area{
    width: 215px;
    text-align: left;
}
.yz-main .seller-address-detail{
    width: 180px;
    padding-right: 30px;
    text-align: left;
}
.yz-main .seller-address-email{
    width: 90px;
    text-align: left;
}
.yz-main .seller-address-phone{
    width: 115px;
    text-align: center;
}
.yz-main .seller-address-operate{

    width: 108px;
}
.yz-main .seller-address-operate select{

    font-size: 12px;
    width: 108px;
    margin: 0 auto;
    text-align: center;
}
.yz-main .shop-info-ul{
    margin-top: 20px;
    width: 930px;
    height: auto;
    overflow: hidden;
    background: #eee;
}
.yz-main .shop-info-li{
    float: left;
    height: 50px;
    font-size: 14px;
    color: #333;
    line-height: 50px;
}
.yz-main .shop-info-ul .one{
    margin-left: 192px;
}
.yz-main .shop-info-ul .two{
    margin-left: 157px;
}
.yz-main .shop-info-ul .three{
    margin-left: 155px;
}
.yz-main .shop-info-ul .four{
    margin-left: 74px;
}
.yz-main .shop-info-ul .five{
    margin-left: 90px;
}
.yz-main .shop-info-change{
    display: block;
    position: absolute;
    top: 15px;
    border-radius: 5px;
    right: 0;
    width: 45px;
    height: 22px;
    font-size: 12px;;
    background: #fd9500;
    color: #fff;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.yz-main .add-address{
    margin-top: 30px;
    display: block;
    border-radius: 5px;
    height: 30px;
    font-size: 12px;;
    background: #fd9500;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}
.yz-main .set-AddressDefault{
    height: 26px;
    line-height: 26px;
    padding-left: 100px;
    margin-bottom: 5px;
}
.yz-main .set-AddressDefault input{
    width: 20px;
}
.yz-main .address-html{
    display: none;
}
.yz-pop{
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 1000;
    margin-left: -118px;
    border: 3px solid #e0e0e0;
    background: #fff;
    padding: 15px 20px;
    display: none;
}
.yz-pop-title{
    font-size: 14px;
    color: #FD9500;
}
.yz-size-pop-btnbox{
    font-size: 0;
    text-align: center;
}
.yz-size-pop-btn1,.yz-size-pop-btn2{
    display: inline-block;
    font-size: 12px;
    padding: 4px 24px;
    margin: 10px 10px 0 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.yz-size-pop-btn1{
    border:1px solid #FD9500;
    background: #FD9500;
    color: #fff;
}
.yz-size-pop-btn2{
    border: 1px solid #999;
    color: #999;
}
.yz-size-pop-con1{
    text-align: center;
}

/*login.html by yeting*/
.login .login-con{
	width: 367px;
	height: 198px;
	position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    border: 3px solid #e0e0e0;
    margin: -100px 0 0 -200px;
    overflow: hidden;
    padding: 16px 0 0 27px;
}
.login .login-con .login-con-title{
	font-size: 14px;
	color: #fd9500;
	font-weight: bold;
}
.login .login-con .login-con-main input{
	display: block;
	width: 297px;
	height: 28px;
	margin-top: 15px;
	padding-left: 36px;
	background: url(../images/icon_login.png) no-repeat;
}
.login .login-con .login-con-main .login-main-username{
	background-position: 8px 5px;
}
.login .login-con .login-con-main .login-main-password{
	background-position: 8px -33px;
}
.login .login-con .login-con-main .login-main-remind{
	height: 26px;
	line-height: 26px;
	color: red;
	font-size: 10px;
}
.login .login-con .login-main-loginButton{
	width: 337px;
	height: 30px;
	background-color: #FD9500;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	text-align: center;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.login .login-con .login-con-findPassword{
	float: right;
	padding:6px 32px 0 0;
	color: #666;
}
/*findPassword.html by yeting*/
.findPassword .findPassword-con{
	width: 990px;
	margin:0 auto;
	padding-top: 80px;
	font-size: 14px;
}
.findPassword .findPassword-con-main{
	width: 320px;
	margin: 0 auto;
}
.findPassword .findPassword-main-userName,.findPassword .findPassword-main-CAPTCHA{
	padding-bottom: 25px;
}
.findPassword .findPassword-main-userName input{
	width: 238px;
	height: 26px;
}
.findPassword .findPassword-main-CAPTCHA{
	height: 30px;
}
.findPassword .findPassword-main-CAPTCHA input{
	width: 118px;
	height: 26px;
}
.findPassword .findPassword-main-CAPTCHA a{
	display: inline;
}
.findPassword .findPassword-main-remind{
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	color: red;
}
.findPassword .findPassword-main-next{
	width: 140px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color: #FD9500;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    margin: 30px auto;
}
/*validate.html by yeting*/
.validate .validate-con{
	width: 990px;
	margin:0 auto;
	padding-top: 80px;
	font-size: 14px;
}
.validate .validate-con-main{
	width: 320px;
	margin: 0 auto;
	position: relative;
}
.validate .validate-main-validateWay,.validate .validate-main-validateCode{
	padding-bottom: 25px;
}
.validate .validate-main-validateWay input{
	width: 238px;
	height: 26px;
}
.validate .validate-main-validateCode{
	height: 30px;
}
.validate .validate-main-validateCode input{
	width: 238px;
	height: 26px;
}
.validate .validate-main-validateCode a{
	display: inline;
}
.validate .validate-main-remind{
	padding-left: 70px;
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	color: red;
}
.validate .validate-main-next{
	width: 140px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color: #FD9500;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    margin: 20px auto;
}
.validate .validate-main-resend{
	width: 80px;
	position: absolute;
	top: 6px;
    left: 325px;
	font-size: 12px;
}
/*newPassword.html by yeting*/
.newPassword .newPassword-con{
	width: 990px;
	margin:0 auto;
	padding-top: 80px;
	font-size: 14px;
}
.newPassword .newPassword-con-main{
	width: 450px;
	margin: 0 auto;
	position: relative;
}
.newPassword .newPassword-main-newPassword,.newPassword .newPassword-main-newPasswordSure{
	padding-bottom: 25px;
}
.newPassword .newPassword-main-newPassword input,.newPassword .newPassword-main-newPasswordSure input{
	width: 238px;
	height: 26px;
	margin-right: 10px;
}
.newPassword .newPassword-main-newPasswordSure{
	height: 30px;
}
.newPassword .newPassword-main-newPasswordSure a{
	display: inline;
}
.newPassword .newPassword-main-remind{
	padding-left: 70px;
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	color: red;
}
.newPassword .newPassword-main-next{
	display: block;
	width: 140px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color: #FD9500;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    margin-left: 100px;
    border: none;
}
.newPassword .error{
	color: red;
	font-size: 12px;
}
/*succe.html by yeting*/
.success .success-con{
	width: 990px;
	margin: 0 auto;
	padding-top: 60px;
}
.success .success-con-main{
	width: 400px;
	margin: 0 auto;
}
.success .success-con-main p{
	width: 250px;
	height: 45px;
	line-height: 45px;
	padding-left: 50px;
	background: url(../images/success.png) no-repeat left top;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
}
.success .success-con-main span{
	display: block;
	width: 360px;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.success .success-con-main a{
	display: inline;
	color: #FD9500;
}
/*toEmail.html by yeting*/
.toEmail .toEmail-con{
	width: 990px;
	margin: 0 auto;
	padding-top: 60px;
}
.toEmail .toEmail-con-main{
	width: 450px;
	margin: 0 auto;
}
.toEmail .toEmail-con-main p{
	width: 350px;
	height: 54px;
	line-height: 54px;
	padding-left: 60px;
	background: url(../images/remind.png) no-repeat left top;
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto;
}
.toEmail .toEmail-con-main span{
	display: block;
	width: 400px;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.toEmail .toEmail-con-main a{
	display: inline;
	color: #FD9500;
}
/*暂用头部*/
.newhead{
	background-color: #f8faf9;
	border-bottom: 3px solid #e7e8e8;
}
.newhead .newhead-con{
	width: 990px;
	margin: 0 auto;
}
.newhead .newhead-con-title{
	padding-left: 20px;
	height: 58px;
	line-height: 58px;
	font-size: 16px;
	font-weight: bold;
}
.newhead .newhead-con-tag li{
	padding-left: 20px;
	height: 58px;
	line-height: 58px;
	font-size: 14px;
}
